<header class="py-4">
  <div class="container text-center">
    <h1 class="mw-100">
      <%= image_tag 'clean_01.png' , size: '50x50'%>
      <%= link_to 'sekara　断捨離', root_path, class: "text-dark text-decoration-none" %>
      <%= image_tag 'clean_02.png' , size: '50x50' %>
    </h1>
  </div>
</header>

<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient sticku-top">
  <div class="container">
    <!-- ↓あとで[a]は全てrootリンクに変更 -->
    <%= link_to 'ホーム', root_path, class: "navbar-brad"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="cllapse" data-bs-target="#navbar-content" aria-controls="nvbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to '最新の断捨離記録', root_path(anchor: "view"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">手離し方参考リンク集</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <div>
        <% if user_signed_in? %>
          <li class="btn btn-light mx-3"><%=link_to current_user.nickname, "/users/#{current_user.id}", class: "text-dark text-decoration-none" %></li>
          <li class="btn btn-light"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "text-dark text-decoration-none" %></li>
        <% else %>
          <li class="btn btn-light mx-3"><%=link_to '新規登録', new_user_registration_path, class: "text-dark text-decoration-none" %></li>
          <li class="btn btn-light"><%= link_to 'ログイン', new_user_session_path, class: "text-dark text-decoration-none" %></li>
        <% end %>
        </div>
      </ul>
    </div>
    
  </div>
</nav>

<div class="mx-3 my-3">
  <%= search_form_for Item.ransack(params[:q]), url: search_items_path, html: {class: "detiled-search-form"} do |f| %>
      <%= f.text_field :name, placeholder: '商品名から探す', class: 'input-box' %>
      <br>
      <%= f.label :submit do %>
        <input type="submit" value="検索" class="search-button">
        <%= f.submit :submit, id: "q_submit", style: "display: none;"%>
      <% end %>
      <%= link_to '検索ページへ進む', search_items_path, class: "search-button-another text-dark text-decoration-none" %>
    <% end %>

</div>