<%= render "shared/header" %>

<div class="py-4">
  <div class="container">
    <div id="main_visual" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#main_visual" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#main_visual" data-bs-slide-to="1"></li>
        <li data-bs-target="#main_visual" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="../assets/slide_01.png" alt="片付け">
          <div class="carousel-caption d-note d-md-block">
            <h2 class="text-success bg-white bg-opacity-50"><strong>片付けなくちゃいけないのに…</strong></h2>
            <p class="text-success bg-white bg-opacity-50"><strong>片付けようと思っても「手離してしまって大丈夫か」、「ストックがなくて大丈夫か」と不安で結局手離せない。</strong></p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="../assets/slide_02.png" alt="増加">
          <div class="carousel-caption d-note d-md-block">
            <h2 class="text-success bg-white bg-opacity-50"><strong>いつの間にか増えていくもの…</strong></h2>
            <p class="text-success bg-white bg-opacity-50"><strong>捨てられないショップバッグ、ついつい増えていくポイントカード、通信販売の段ボール。気が付いたらたくさんある。</strong></p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="../assets/slide_03.png" alt="不用品">
          <div class="carousel-caption d-note d-md-block">
            <h2 class="text-success bg-white bg-opacity-50"><strong>今は使ってないけれど手離せない…</strong></h2>
            <p class="text-success bg-white bg-opacity-50"><strong>いつかまたやろうと思っている。思い出のものだから。高かったから。そんな理由で手離せないものがある。</strong></p>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#main_visual" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">前に戻る</span>
      </a>
      <a class="carousel-control-next" href="#main_visual" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">次に進む</span>
      </a>
    </div>
  </div>
</div>



<!— コラム欄 —>
<div class="py-4">
  <section id="column">
    <div class="container">
      <div class="row">
    <div class="col-md-9">
      <h3>そんな悩みがあるのなら…まずはじめてみませんか？</h3>
      </div>
      <div class="col-md-10">
    <dl class="row">
      <dd class="col-md-9">■　1日1回、5分で良いので部屋の中を整えましょう。</dd>
      <dd class="col-md-9">■　今回片付けると決めた場所のものは全て出して持ち物の見直しましょう。</dd>
      <dd class="col-md-9">■　一度に片付ける場所を絞りましょう。いきなり全部やろうとすると収拾がつかなくなります。</dd>
    </dl>
      </div>
    </div>
</div>

<!— 閲覧・投稿欄 —>
<div class="py-4 bg-light">
  <section id="about">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-8 mb-3">
          <h3 class="mb-3">断捨離の記録を共有しませんか？</h3>
          <p>ものを手離すと決めたら、手離したものを投稿してあなたの断捨離の軌跡を残しませんか？</p>
          <p>あなたの記録が誰かの助けになるかもしれません。</p>
          <p>手離すのを迷ったら、ほかの人が手離したものをみてみましょう。</p>
          <p>何を、どうして、どんな方法で手離したのか参考になるかもしれません。</p>
          <ul>
            <li class="btn btn-info shadow"><%= link_to 'みんなの記録を見る', root_path(anchor: "view"), class: "text-dark text-decoration-none" %></li>
            <li class="btn btn-info shadow"><%= link_to '自分の記録を残す', new_item_path, class: "text-dark text-decoration-none" %></li>
            <li class="btn btn-info shadow"><%= link_to '検索', search_items_path, class: "text-dark text-decoration-none" %></li>
          </ul>
        </div>
        <div class="col-md-4">
          <img src="../assets/slide_05.png" alt="整理整頓" class="img-fluid">
        </div>
      </div>

      <div class=“row”>
        <div class=“col-md-4”>
          <div class="card mv-3">
            <img >

        </div>
        <div class=“col-md-4”>
        </div>
        <div class=“col-md-4”>
        </div>
      </div>
    </div>
  </section>
</div>

<%# 断捨離記録一覧 %>
  <div class='item-contents', id="view">
    <h2 class='title'>みんなの断捨離</h2>
    <div class="subtitle" >
      最新の断捨離
    </div>
    <ul class='item-lists'>

    <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item) do %>
        <div class='item-img-content'>
        <%= image_tag item.image.variant(resize: '500x500'), class: "item-img" if item.image.attached? %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span>手離し方：<%= item.let_go_way.name %></span>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>



<%= link_to(new_item_path, class: 'purchase-btn text-decoration-none') do %>
  <span class='purchase-btn-text '>記録する</span>
  <%= image_tag 'record_btn.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/footer" %>